@import '../../responsive.scss';

.MainContainer {
  display: flex;
  flex-direction: column;
  //   border-radius: 20px;
  overflow: hidden;

  height: fit-content;
  //   margin-top: 100px;

  .decoration {
    height: 100px;
    display: flex;
    // border: 1px solid black;

    @include md {
      display: none;
    }

    .box1 {
      flex: 2;
    }

    .box2 {
      flex: 1;
      padding: 60px;
      background-color: #fcf5f3;
    }
  }

  .MainContent {
    display: flex;
    @include md {
      flex-direction: column;
    }

    .achievementsContainer {
      flex: 4;
      background-color: #a3b18a;
      padding: 20px;

      h2 {
        font-size: 48px;
        margin-bottom: 20px;
        color: white;

        @include md {
          font-size: 36px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 40px;
        color: white;
      }

      .statsContainer {
        display: flex;
        gap: 60px;
        flex-wrap: wrap;

        @include sm {
          gap: 30px;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 10px;

          div {
            display: flex;
            flex-direction: row;

            span:first-child {
              font-size: 36px;
              font-weight: bold;
              color: white;
            }

            span:last-child {
              font-size: 20px;
              color: white;
            }
          }
        }
      }
    }

    .textContainer {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //   padding: 20px;
      background-color: #fcf5f3;

      .content {
        transform: rotate(-90deg);

        @include md {
          transform: rotate(-0deg);
          padding: 50px 20px;
        }

        display: flex;
        flex-direction: column;

        .imgContainer {
          display: flex;
          justify-content: center;
          align-items: center;

          @include md {
            margin-bottom: 20px;
          }
        }

        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 16px;
          line-height: 1.8;
          color: #666;
        }
      }
    }
  }
}
